.container-fluid {
    background-color: var(--color-secondary);
    min-height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}

h5 {
    font-size: 20px;
    line-height: 23px;
    color: #2D2D2D;
}

.active {
    color: var(--color-lightMint);
}

.btnStyle1 {
    background-color: var(--color-lightMint);
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    border-radius: 8px;
    width: 322px;
    height: 68px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 20px;
        line-height: normal;
    }

    h5 {
        font-size: 12px;
        line-height: normal;
    }


    .btnStyle1 {
        font-size: 12px;
        line-height: normal;
        width: 100px;
        height: 40px;
    }

    .btnStyle6 {
        font-size: 10px;
        line-height: normal;
    }
}