.container-fluid {
    background-color: var(--color-secondary);
    min-height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}

h5 {
    font-size: 20px;
    line-height: 23px;
    color: #2D2D2D;
}

.active {
    color: var(--color-lightMint);
}

.btnStyle1 {
    background-color: var(--color-lightMint);
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    border-radius: 8px;
    width: 322px;
    height: 68px;
}