<div class="container-fluid p-5">
    <h1>Checkout</h1>
    <div class="container-fluid">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card cart-items bg-white border-0">
                    <ul class="list-group" *ngFor="let product of cart">
                        <li class="list-group-item list-group-item-action border-0 d-flex p-4 ">
                            <img [src]="product.img" alt="img">
                            <div class="d-flex w-50 flex-column">
                                <h1>{{product.name}}</h1>
                                <h2>{{product.capsules}} Capsules</h2>
                                <h3>EGP {{product.price}}</h3>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">-</span>
                                <input type="text" class="form-control" value="1">
                                <span class="input-group-text">+</span>
                            </div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card order-summary bg-white border-0 ">
                    <h2>Order Summary</h2>
                    <h3>
                        <span>Subtotal (2 Items)</span>
                        <span>EGP 450</span>
                    </h3>
                    <h3 class="mb-5">
                        <span>Shipping</span>
                        <span>Calculate at next step</span>
                    </h3>
                    <h4 class="d-flex justify-content-between mb-5">
                        <span class="totalPrice">Total Price</span>
                        <span class="price">EGP 400</span>
                    </h4>
                    <button class="btn btnStyle2">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>