<section class="shop-by-category-section">
  <h1 class="text-center">Shop By Category</h1>
  <p class="text-center description">To make it easy select your interesting category and enjoy our products</p>
  <div class="container">
    <div class="row d-flex justify-content-between mt-5">
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/41" class="category card">
          <img src="../../assets/Rectangle 3111 (2).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory1.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory1.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/44" class="category card">
          <img src="../../assets/Rectangle 3111.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory2.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory2.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/46" class="category card">
          <img src="../../assets/Rectangle 3111(1).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory3.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory3.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/43" class="category card">
          <img src="../../assets/Rectangle 3111(2).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory4.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory4.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/39" class="category card">
          <img src="../../assets/Rectangle 3111(3).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory5.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory5.data.products.length}} Products</p>
          </div>
        </a>
      </div>

    </div>
    <div class="row d-flex justify-content-between collapseRow" id="collapse">
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/37" class="category card">
          <img src="../../assets/Rectangle 3111(4).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory6.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory6.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/37" class="category card">
          <img src="../../assets/Rectangle 3111(5).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory7.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory7.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/42" class="category card">
          <img src="../../assets/Rectangle 3111(6).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory8.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory8.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2">
        <a href="/product-listing/47" class="category card">
          <img src="../../assets/Rectangle 3111(7).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{featuredCategory9.data.categoryName}}</h4>
            <p class="card-text">{{featuredCategory9.data.products.length}} Products</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-lg-2"></div>
    </div>
    <div class="row d-flex justify-content-center">
      <button id="toggle" onclick="moreOrLess()" class="btn btnStyle view-more">View more</button>
    </div>

  </div>
</section>