<section class="shop-by-category-section">
    <h1 class="text-center">Shop By Category</h1> 
    <p class="text-center description">To make it easy select your interesting category and enjoy our products</p>
   <div class="container">
    <div class="row d-flex justify-content-between mt-5">
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111 (2).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Immunity Booster</h4>
                    <p class="card-text">15 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Bones, Nerve, Muscles</h4>
                    <p class="card-text">10 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(1).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Fitness Essentials</h4>
                    <p class="card-text">15 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(2).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Pain Relief</h4>
                    <p class="card-text">8 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(3).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Kids Essentials</h4>
                    <p class="card-text">5 Products</p>
                </div>
            </a>
        </div>
        
    </div>
    <div class="row d-flex justify-content-between collapseRow"  id="collapse" >
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(4).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Skin Care</h4>
                    <p class="card-text">15 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(5).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Hair Care</h4>
                    <p class="card-text">10 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(6).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Energy Booster</h4>
                    <p class="card-text">15 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="/product-listing" class="category card">
              <img src="../../assets/Rectangle 3111(7).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Hand Sanitizers</h4>
                    <p class="card-text">8 Products</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
    <div class="row d-flex justify-content-center">
        <button  id="toggle" onclick="moreOrLess()" class="btn btnStyle view-more">View more</button>
    </div>
   
    </div>
</section>
