.container {
    height: 808px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
}

.container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title {
    position: relative;
    top: 61px;
    height: 52px;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #161D25;
}

.container .subtitle {
    position: relative;
    top: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #5E5E5E;
}

.container .top-products {
    position: relative;
    top: 100px;
    height: 420px;
    background-color: var(--color-primary);
}

.container .btn {
    position: relative;
    top: 180px;
    align-self: center;
}