.active {
    color: var(--color-lightMint);
}

.outer-container {
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-size: cover;
}

.element-hidden {
    visibility: hidden;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.map-container iframe {
    margin-top: 20px;
    height: 80%;
    width: 100%;
    position: absolute;
}

.grid span {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.grid input {
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #E3E4E5;
    border-radius: 8px;
    margin-top: 10px;
}

.card {
    border: none;
    border-radius: 8px;
}

.card-inner {
    background-color: var(--color-secondary);
    border-radius: 8px;
}

.btnStyle2 {
    margin-left: 300px;
}

.btnStyle4 {
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    width: 259px;
    height: 52px;
    border: 1px solid #3AC591;
    border-radius: 8px;
    color: #3AC591;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
}

.btnStyle5 {
    background: rgba(217, 217, 217, 0.31);
    border-radius: 0px 0px 8px 8px;
    font-size: 20px;
    line-height: 20px;
    height: 70px;
    color: #3AC591;
}

.form-check {
    background: #FFFFFF;
    border: 1px solid #C4CDD5;
    border-radius: 8px;
    width: 270px;
    height: 70px;
    padding-top: 20px;
}

.addresses {
    background-color: var(--color-secondary);
    padding: 20px 10px 20px;
}

.form-check-input {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #49C69B;
    width: 20px;
    height: 20px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 20px;
}

h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
}

h4 {
    font-size: 22px;
}

label {
    font-size: 20px;
    line-height: 20px;
}

.address {
    font-size: 18px;
    line-height: 20px;
    color: #5E5E5E;
}

.address .s1 {
    width: 70%;
}

.residence {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-font1);
}

.address-div {
    background-color: var(--color-secondary);
    border-radius: 8px;
}

.btn-edit {
    color: #49C69B;
    border: none;
    border-radius: 4px;
    width: 46px;
    height: 46px;
    position: relative;
    background-color: #e8fdf6;
}

.step {
    padding: 0px 10px;
}

.step:not(:last-child)::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #6c757d;
    width: 5rem;
    margin: 0 0 0 2rem;
    transform: translateY(-.2rem);
}

.step .fa {
    position: absolute;
    top: -25px;
    margin-left: 12px;
    color: #6c757d;
    font-size: 26px;
}

.step:first-child .fa {
    margin-left: 2px;
    color: var(--color-lightMint);
}

.done {
    color: var(--color-lightMint);
}

.step .active {
    opacity: 1
}

.all-steps {
    margin-top: 30px;
    position: relative;
}

.msg {
    font-size: 8px;
    color: red;
    font-weight: 200;
}

@media (max-width: 576px) {
    .all-steps {
        visibility: hidden;
    }

    .form-check {
        width: 90%;
    }

    .top-container {
        height: 80px;
    }
}

@media (max-width: 280px) {
    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
    }

    h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    h4 {
        font-size: 18px;
    }

    label {
        font-size: 15px;
        line-height: 15px;
    }

    .address {
        font-size: 15px;
        line-height: 15px;
    }

    .residence {
        font-size: 18px;
        line-height: 18px;
    }

    .cart-items {
        padding: 0;
    }
}