<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home"></i><a class="breadcrumb-not-active" href="#">Home</a></li>
        <li class="breadcrumb-item"><i class="fa fa-cart-shopping"></i><a class="breadcrumb-not-active"
                href="cart">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shipping</li>
    </ol>
</nav>
<div class="container-fluid outer-container p-5">
    <div class="container-fluid d-flex justify-content-between top-container">
        <div class="checkout">
            <h1 class="h1">Checkout</h1>
        </div>
        <div class="all-steps" id="all-steps">
            <span class="step done"><i class="fa fa-check-circle" style="color: var(--color-lightMint);"></i>Cart</span>
            <span class="step done"><i class="fa" style="color: var(--color-lightMint);">2</i>Shipping</span>
            <span class="step"><i class="fa ">3</i>Payment</span>
            <span class="step"><i class="fa ">4</i>Summary</span>
        </div>
    </div>
    <div class="container-fluid inner-container">
        <div class="row">
            <div class="col col-lg-8 mb-5">
                <div class="card cart-items bg-white border-0">
                    <h2>Delivery Method</h2>
                    <div class="p-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label mt-1" for="inlineRadio1">Home Delivery</label>
                        </div>
                    </div>

                    <hr style="width: 95%; margin-left:15px;">
                    <div class="container-fluid">
                        <div class="container-fluid text-center mt-4" *ngIf="savedAddresses.data.length ==0">
                            <h3>No Saved Addresses</h3>
                            <h4>When you have addresses, you'll see them here.</h4>
                            <button class="btn btnStyle4" (click)="openFormModal1()">Add new address</button>
                        </div>
                        <div class="container-fluid" *ngIf="savedAddresses.data.length !=0">
                            <h3 class="mt-5">Select Address</h3>
                            <div class="form-check w-100 mb-5 h-25 d-flex addresses border-0"
                                *ngFor="let address of savedAddresses.data; index as i">
                                <span>
                                    <input class="form-check-input mt-5" type="radio" name="flexRadioDefault" [id]="i"
                                        (click)="chosenAddress(address.id)">
                                </span>
                                <span>
                                    <h6 class="residence mt-5 mb-1">{{address.title}}</h6>
                                    <div class="address mt-0 d-flex justify-content-between">
                                        <span class="s1 mt-3">{{address.city}}, {{address.area}}, {{address.street}},
                                            {{address.buildingNumber}}, {{address.apartmentNumber}}</span>
                                        <button class="btn-edit" (click)="openFormModal2(address.id)">
                                            <fa-icon icon="edit"></fa-icon>
                                        </button>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btnStyle5 w-100" (click)="openFormModal1()" *ngIf="savedAddresses.data.length !=0">+
                    Add New Address</button>
            </div>
            <div class="col col-lg-4">
                <app-stepper (theButtonWasClicked)="handleClick()" buttonText="Proceed to Payment"
                    [isClickable]="disableButton" [shippingFee]="shippingFee"></app-stepper>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card card-outer m-3 p-1 border-0">
                    <form [formGroup]="addressForm" (ngSubmit)="saveAddress1()">
                        <h4 class="change-address-h4 d-flex justify-content-between">
                            <span class="mt-3">New Address</span>
                            <span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="closeModal1()">
                                </button>
                            </span>
                        </h4>
                        <div class="grid">
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column">
                                    <span>First Name</span>
                                    <span
                                        *ngIf="addressForm.controls['FirstName'].hasError('required')  && addressForm.controls['FirstName'].touched"
                                        class="msg">First
                                        name is required!</span>
                                    <input type="text" formControlName="FirstName">
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>Last Name</span>
                                    <span
                                        *ngIf="addressForm.controls['LastName'].hasError('required') && addressForm.controls['LastName'].touched"
                                        class="msg">Last
                                        name is required!</span>
                                    <input type="text" formControlName="LastName">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column mt-4">
                                    <span>Email</span>
                                    <span
                                        *ngIf="addressForm.controls['Email'].hasError('required') && addressForm.controls['Email'].touched"
                                        class="msg">Email
                                        is required!</span>
                                    <span *ngIf="addressForm.controls['Email'].hasError('email')" class="msg">Email must
                                        be written as example@email.com</span>
                                    <input type="text" formControlName="Email" placeholder="example@email.com">
                                </div>
                                <div class="col d-flex flex-column mt-4">
                                    <span>Phone Number</span>
                                    <span
                                        *ngIf="addressForm.controls['PhoneNumber'].hasError('required') && addressForm.controls['PhoneNumber'].touched"
                                        class="msg">Phone
                                        number is required!</span>
                                    <input type="tel" formControlName="PhoneNumber">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column mt-4">
                                    <span>Address Label</span>
                                    <span
                                        *ngIf="addressForm.controls['Title'].hasError('required') && addressForm.controls['Title'].touched"
                                        class="msg">Title
                                        is required!</span>
                                    <input type="text" formControlName="Title" placeholder="e.g. home or office">
                                </div>
                                <div class="col d-flex flex-column mt-4">
                                    <span>City</span>
                                    <span
                                        *ngIf="addressForm.controls['City'].hasError('required') && addressForm.controls['City'].touched"
                                        class="msg">City is
                                        required!</span>
                                    <input type="text" formControlName="City">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <div class="row row-cols-2 mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Area</span>
                                            <span
                                                *ngIf="addressForm.controls['Area'].hasError('required') && addressForm.controls['Area'].touched"
                                                class="msg">Area is required!</span>
                                            <input type="text" formControlName="Area">
                                        </div>
                                        <div class="col d-flex flex-column">
                                            <span>Street</span>
                                            <span
                                                *ngIf="addressForm.controls['Street'].hasError('required') && addressForm.controls['Street'].touched"
                                                class="msg">Street is required!</span>
                                            <input type="text" formControlName="Street">
                                        </div>
                                    </div>
                                    <div class="row row-cols-2 mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Building Number</span>
                                            <span
                                                *ngIf="addressForm.controls['BuildingNumber'].hasError('required') && addressForm.controls['BuildingNumber'].touched"
                                                class="msg">Building number is required!</span>
                                            <input type="text" formControlName="BuildingNumber">
                                        </div>
                                        <div class="col d-flex flex-column">
                                            <span>Apartment Number</span>
                                            <span
                                                *ngIf="addressForm.controls['ApartmentNumber'].hasError('required') && addressForm.controls['ApartmentNumber'].touched"
                                                class="msg">Apartment number is required!</span>
                                            <input type="text" formControlName="ApartmentNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div id="map-container-google-1" class="z-depth-1-half map-container"
                                        style="height: 500px">
                                        <iframe
                                            src="https://maps.google.com/maps?q=cairo&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btnStyle2" type="submit">Save Address</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card card-outer m-3 p-1 border-0">
                    <form [formGroup]="addressForm" (ngSubmit)="saveAddress2()">
                        <h4 class="change-address-h4 d-flex justify-content-between">
                            <span class="mt-3">Edit Address</span>
                            <span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="closeModal2()">
                                </button>
                            </span>
                        </h4>
                        <div class="grid">
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column">
                                    <span>First Name</span>
                                    <input type="text" formControlName="FirstName">
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>Last Name</span>
                                    <input type="text" formControlName="LastName">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column mt-4">
                                    <span>Email</span>
                                    <input type="text" formControlName="Email">
                                </div>
                                <div class="col d-flex flex-column mt-4">
                                    <span>Phone Number</span>
                                    <input type="text" formControlName="PhoneNumber">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column mt-4">
                                    <span>Address Label</span>
                                    <input type="text" formControlName="Title" [value]="addressToEdit.title">
                                </div>
                                <div class="col d-flex flex-column mt-4">
                                    <span>City</span>
                                    <input type="text" formControlName="City" [value]="addressToEdit.city">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <div class="row row-cols-2 mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Area</span>
                                            <input type="text" formControlName="Area" [value]="addressToEdit.area">
                                        </div>
                                        <div class="col d-flex flex-column">
                                            <span>Street</span>
                                            <input type="text" formControlName="Street" [value]="addressToEdit.street">
                                        </div>
                                    </div>
                                    <div class="row row-cols-2 mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Building Number</span>
                                            <input type="text" formControlName="BuildingNumber"
                                                [value]="addressToEdit.buildingNumber">
                                        </div>
                                        <div class="col d-flex flex-column">
                                            <span>Apartment Number</span>
                                            <input type="text" formControlName="ApartmentNumber"
                                                [value]="addressToEdit.apartmentNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div id="map-container-google-1" class="z-depth-1-half map-container"
                                        style="height: 500px">
                                        <iframe
                                            src="https://maps.google.com/maps?q=cairo&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btnStyle2" (click)="saveAddress2()">Save Changes</button>
                    </form>
                    <div class="card card-outer m-3 p-5 border-0">
                        <h4 class="change-address-h4 d-flex justify-content-between">
                            <span class="mt-3">Edit Address</span>
                            <span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="saveAddress2()">
                                </button>
                            </span>
                        </h4>
                        <div class="grid">
                            <div class="row row-cols-2">
                                <div class="col d-flex flex-column">
                                    <span>Address Label</span>
                                    <input type="text">
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>Address Details</span>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <div class="row row-cols-2 mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Building Number</span>
                                            <input type="text">
                                        </div>
                                        <div class="col d-flex flex-column">
                                            <span>Floor Number</span>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Apartment Number</span>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col d-flex flex-column">
                                            <span>Mobile Number</span>
                                            <input type="number">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div id="map-container-google-1" class="z-depth-1-half map-container"
                                        style="height: 500px">
                                        <iframe
                                            src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btnStyle2" (click)="saveAddress2()">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>