<div class="topnav container">
  <header class="section-header">

    <section class="header-main border-bottom bg-white">
      <div class="container-fluid">
        <div class="row p-2 pt-3 pb-3 d-flex justify-content-between">
          <div class="col-md-2">
            <a href="#"><img class="d-none d-md-flex" src="../../../assets/logo.png" width="100"></a>
          </div>
          <div class="col-md-5">
            <form>
              <div class="d-flex form-inputs">
                <input class="form-control" type="text" placeholder="Search any product...">
                <i class="bx bx-search"></i>
              </div>
            </form>
          </div>

          <div class="col-md-2 deliverTo">
            <div class="d-flex d-none d-md-flex flex-row align-items-center">
              <!-- <div class="MuiGrid-item">
                        <div class="MuiGrid-container dropdown">
                         
                          <div class="MuiGrid-item">
                            <span class="MuiTypography-caption dropdown-toggle" data-bs-toggle="dropdown">Deliver to</span>
                            
                            <ul class="dropdown-menu">
                              <li><a href="#">abc</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>     -->
              <i class="fa fa-map-marker" aria-hidden="true" style="color: #2d906e;"></i>
              <span style="position: absolute; font-size:10px; top:10px;">Deliver To</span>

              <select class="form-select">
                <option value="">New Cairo 5th set ..</option>
              </select>

            </div>
          </div>
          <div class="col-md-2 d-flex justify-content-between">
            <div class="language-switcher"> <a href='javascript:Localize.setLanguage("ar")'>العربية</a></div>
            <div class="user-account"><a href="#"><i class='fa fa-user'></i></a></div>
            <div class="user-cart"><a href="cart"><i class="fa fa-shopping-bag"></i></a></div>


          </div>
        </div>
      </div>
    </section>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/product-listing" class="nav-link">Immunity Boosters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Bone, Nerve, Muscles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Kids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Fitness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Pain Relief</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Skin Care</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Hair Care</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Energy Booster</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product-listing">Hand Sanitizers</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>