<div class="card order-summary bg-white border-0 p-5">
    <h2 class="d-flex justify-content-between">
        <span class="order-summary-span">Order Summary</span>
        <span><button class="btn btn-edit" (click)="editButtonClicked()">{{editSave}}</button></span>
    </h2>
    <div class="overflow-scroll h-50">
        <div class="d-flex h-50" *ngFor="let item of cart.data.products">
            <img [src]="item.imageUrl" alt="img">
            <div class="cart-items">
                <h4>{{item.name}}</h4>
                <h4 class="d-flex justify-content-between">
                    <span class="price">EGP {{item.currentPrice}}</span>
                    <span class="h4 text-muted mt-2">{{item.quantity}} items</span>
                </h4>
                <div class="input-group" [ngClass]="{'element-hidden' : isHidden == true}">
                    <span class="input-group-text" (click)="update(item,-1)">-</span>
                    <span class="form-control">{{item.quantity}}</span>
                    <span class="input-group-text" (click)="update(item,1)">+</span>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-5">
        <span>Subtotal</span>
        <span>EGP {{cart.data.oneTimeSubTotal}}</span>
    </h3>
    <h3>
        <span>Shipping</span>
        <span>EGP {{shippingFee}}</span>
    </h3>
    <hr style="border: 1px solid #F4F6F8;">
    <h4 class="d-flex justify-content-between mb-5">
        <span class="totalPrice">Order Total</span>
        <span class="price">EGP {{cart.data.totalPrice}}</span>
    </h4>
    <button [disabled]="!isClickable" class="btn btnStyle2" (click)="handleClickedButton()">{{buttonText}}</button>
</div>