<div class="card order-summary bg-white border-0 p-5">
    <h2 class="d-flex justify-content-between">
        <span class="order-summary-span">Order Summary</span>
        <span><button class="btn btn-edit">Edit</button></span>
    </h2>
    <div class="overflow-scroll h-50">
        <div class="d-flex h-50" *ngFor="let item of items">
            <img [src]="item.img" alt="img">
            <div class="cart-items">
                <h4>{{item.name}}</h4>
                <h4 class="price">EGP {{item.price}}</h4>
            </div>
        </div>
    </div>
    <h3>
        <span>Subtotal (2 Items)</span>
        <span>EGP 450</span>
    </h3>
    <h3>
        <span>Discount 10%</span>
        <span>EGP -50</span>
    </h3>
    <h3 class="mb-5">
        <span>Shipping</span>
        <span>EGP 50</span>
    </h3>
    <hr style="border: 1px solid #F4F6F8;">
    <h4 class="d-flex justify-content-between mb-5">
        <span class="totalPrice">Order Total</span>
        <span class="price">EGP 500</span>
    </h4>
    <button [disabled]="!isClickable" class="btn btnStyle2" (click)="handleClickedButton()">{{buttonText}}</button>
</div>