.input-group {
    cursor: pointer;
    background: #F9FAFB;
    mix-blend-mode: normal;
    border-radius: 8px;
    width: 165px;
    height: 50px;

}

.input-group .form-control {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #161D25;
    text-align: center;
}


.input-group-text {
    width: 50px;
    background: rgba(58, 197, 145, 0.05);
    mix-blend-mode: normal;
    border-radius: 0px 8px 8px 0px;
    color: var(--color-lightMint);
    font-weight: 400;
    font-size: 40px;
    border-radius: 8px;
}

.form-control {
    padding-top: 25px;
}

img {
    height: 536px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.177778px;
    color: rgba(94, 94, 94, 0.7);
}

.price {
    font-size: 25px;
    line-height: 29px;
}

.value {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #3AC591;
    margin-right: 20px;
}

h6 {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}

.card {
    height: 536px;
}

.row {
    width: 100%;
}

button {
    width: 500px;
    height: 70px;
    margin-left: 10px;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.badge {
    position: absolute;
    background: #DE3618;
    opacity: 0.4;
    width: 86px;
    height: 31px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: 00000;
}

.active {
    color: var(--color-lightMint);
}

.attributes {
    border: none;
    width: 100%;
}

.card-header {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: #3AC591;
    background-color: var(--color-primary);
}

.btn-group {
    margin-right: 20px;
}

.btnStyle4 {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
}

.btnStyle2 {
    width: 380px;
}

.attributes .card-body {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
}

@media (max-width:280px) {
    .btnStyle2 {
        width: 100px;
    }

    .btn-group {
        margin-right: 5px;
    }

    .btnStyle4 {
        font-size: 10px;
        line-height: 10px;
    }

    .attributes .card-body {
        font-size: 14px;
        line-height: 14px;
    }

    img {
        width: 200px;
    }


}

@media (max-width:576px) {
    h1 {
        font-size: 30px;
        line-height: normal;
    }

    h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .price {
        font-size: 20px;
        line-height: normal;
    }

    .value {
        font-size: 20px;
        line-height: normal;
    }

    h6 {
        font-size: 20px;
        line-height: normal;
    }

    .input-group {
        width: 99px;

    }

    .input-group .form-control {
        font-size: 20px;
        line-height: normal;
        width: 33px;
        height: 40px;
        padding-top: 10px;
    }


    .input-group-text {
        width: 33px;
        font-size: 20px;
        height: 40px;
    }

    .btnStyle2 {
        width: 100px;
        height: 40px;
        font-size: 10px;
        line-height: 10px;
    }

    img {
        height: 300px;
    }

    .btn-group {
        margin-right: 5px;
    }

    .btnStyle4 {
        font-size: 10px;
        line-height: 10px;
    }

    .attributes .card-body {
        font-size: 14px;
        line-height: 14px;
    }
}