<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-not-active" href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Track Order</li>
    </ol>
</nav>
<div class="container-fluid p-5 d-flex justify-content-around flex-wrap">
    <div class="card order-summary bg-white border-0 p-5 mb-5">
        <h2 class="text-center mb-5 mt-5" style="font-size: 40px;">Order # {{trackOrder.id}}</h2>
        <h4 class=" text-muted text-center mb-5" style="font-size: 20px;">On {{trackOrder.date}}</h4>
        <h2 class="text-success text-center" style="font-size: 30px;">{{trackOrder.orderStatus}}</h2>
    </div>
    <div>
        <div class="card order-summary bg-white border-0">
            <h2>Order Summary</h2>
            <h3 class="d-flex justify-content-between mb-5">
                <!-- ({{confirmedOrder.data.products.length}} items) -->
                <span>Subtotal </span>
                <span>EGP {{trackOrder.totalPrice}}</span>
            </h3>
            <h4 class="d-flex justify-content-between mb-5">
                <span class="totalPrice">Total Price</span>
                <span class="price">EGP {{trackOrder.totalPrice}}</span>
            </h4>
            <button class="btn btnStyle7" (click)="handleClick(trackOrder.id)" [disabled]="disableCancel()">Cancel
                Order</button>
        </div>
    </div>
</div>