h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.order-summary {
    height: 315px;
    padding: 20px;
}

.totalPrice {
    font-weight: 500;
    color: #5E5E5E;
}

.price {
    font-weight: 700;
    color: #49C69B;
}

.btnStyle7 {
    border: 1px solid red;
    background-color: var(--color-secondary);
    border-radius: 8px;
    padding: 24px 100px;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: red;
}

.active {
    color: #49C69B;
}

.container-fluid {
    background-color: var(--color-secondary);
}