.carousel {
    background: linear-gradient(115.8deg, #000000 13.04%, rgba(0, 0, 0, 0.12) 53.01%);
    z-index: 1000;
}

.card-body {
    background: linear-gradient(105.55deg, rgba(0, 0, 0, 0.8) 7.83%, rgba(0, 0, 0, 0.4) 73.45%);
    mix-blend-mode: normal;
    z-index: 1000;
}