<!-- <div class="container">
    <div *ngIf="imgs && imgs.length>0" class="upper-cards">
        <img *ngFor="let img of imgs;let i=index" [src]="img" [ngClass]="{'img-active':currentIndex===i}">
        <div *ngIf="indicators" class="carousel-container">
            <span class="carousel" *ngFor="let carousel of imgs; let i=index" [ngClass]="{'active':currentIndex===i}"
                (click)="getImg(i)"></span>
        </div>
    </div>
    <div class="lower-cards">
        <div class="offers-cards" *ngFor="let offer of offers">
            <img [src]="offer.img">
            <div class="details-container">
                <span class="details">{{offer.title}}</span>
            </div>
        </div>
    </div>
</div> -->

<div class="container m-0">

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets\brett-jordan-rJVflgqasr4-unsplash.jpg" class="d-block w-100" alt="img">
            </div>
            <div class="carousel-item">
                <img src="assets\christina-victoria-craft-ZHys6xN7sUE-unsplash.jpg" class="d-block w-100" alt="img">
            </div>
            <div class="carousel-item">
                <img src="assets\daily-nouri-lXMPY-xzMNU-unsplash-10pecrent.jpg" class="d-block w-100" alt="img">
            </div>
        </div>
    </div> -->
    <div>
        <div class="grid">
            <div class="row" *ngFor="let offer of offers">
                <div class="col-lg-4 col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img [src]="offer.img" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>