<section class="payment-methods pt-5 pb-5">
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home"></i><a class="breadcrumb-not-active" href="#">Home</a>
                </li>
                <li class="breadcrumb-item"><i></i><a class="breadcrumb-not-active" href="cart">Cart</a>
                </li>
                <li class="breadcrumb-item"><i></i><a class="breadcrumb-not-active" href="shipping">Shipping</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Payment</li>
            </ol>
        </nav>
        <div class="container-fluid d-flex justify-content-between">
            <div class="checkout">
                <h1 class="h1">Checkout</h1>
            </div>
            <div class="stepper-component">
                <div class="all-steps" id="all-steps">
                    <span class="step done"><i class="fa fa-check-circle"
                            style="color: var(--color-lightMint);"></i>Cart</span>
                    <span class="step done"><i class="fa fa-check-circle"
                            style="color: var(--color-lightMint);"></i>Shipping</span>
                    <span class="step done"><i class="fa ">3</i>Payment</span>
                    <span class="step"><i class="fa ">4</i>Summary</span>
                </div>
            </div>
        </div>
        <div class="container-fluid inner-container">
            <div class="row">
                <div class="col col-lg-8 mb-5">
                    <div class="card p-5">
                        <h2>Payment Method</h2>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1" (click)="radioButtonClicked(true)">
                            <label class="form-check-label mt-1" for="inlineRadio1">Cash on Delivery</label>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <app-stepper [buttonText]="buttonText" [isClickable]="isClickable"
                        (theButtonWasClicked)="handleClick()"></app-stepper>
                </div>
            </div>


        </div>
    </div>
</section>