<div class="container-fluid d-flex justify-content-between">
    <h1 class="h1">Checkout</h1>
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="steps">
                <progress id="progress" value=0 max=100></progress>
                <div class="step-item">
                    <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1
                    </button>
                    <div class="step-title">
                        Cart
                    </div>
                </div>
                <div class="step-item">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2
                    </button>
                    <div class="step-title">
                        Shipping
                    </div>
                </div>
                <div class="step-item">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3
                    </button>
                    <div class="step-title">
                        Payment
                    </div>
                </div>
                <div class="step-item">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        4
                    </button>
                    <div class="step-title">
                        Summary
                    </div>
                </div>
            </div>
            <!-- <div class="stepper d-flex" id="stepper2" style="height: 90px;">
            <div class="steps-container">
                <div class="steps">
                    <div class="step" icon="fa fa-pencil-alt" id="1">
                        <div class="step-title d-flex flex-column">
                            <span class="step-number">1</span>
                            <div class="step-text">Cart</div>
                        </div>
                    </div>
                    <div class="step" icon="fa fa-info-circle" id="2">
                        <div class="step-title d-flex flex-column">
                            <span class="step-number">2</span>
                            <div class="step-text">Shipping</div>
                        </div>
                    </div>
                    <div class="step" icon="fa fa-book-reader" id="3">
                        <div class="step-title d-flex flex-column">
                            <span class="step-number">3</span>
                            <div class="step-text">Payment</div>
                        </div>
                    </div>
                    <div class="step" icon="fa fa-check" id="4">
                        <div class="step-title d-flex flex-column">
                            <span class="step-number">4</span>
                            <div class="step-text">Summary</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        </div>
    </div>
</div>