<div class="container">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active">{{offersToDisplay.name}}</li>
        </ol>
    </nav>
    <div class="row d-flex justify-content-between">
        <div class="col-6">
            <h1>{{offersToDisplay.name}}</h1>
        </div>
        <div class="col-3">
            <div class="list-view"><i id="list" onclick="listView()" class="fa fa-list"></i></div>
            <div class="grid-view"><i id="grid" onclick="gridView()" class="fa fa-th" aria-hidden="true"></i></div>
        </div>
    </div>
</div>
<section class="products-wrapper pt-5 pb-5">
    <div class="container">
        <div id="productslist" class="row d-flex justify-content-center view-group">
            <div class="item col-xs-4 col-md-5 col-lg-3 mb-5" *ngFor="let product of offersToDisplay.products">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" [src]="product.imageUrl" alt="" />
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">{{product.name}}</h4>
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <p class="lead">EGP {{product.priceValue}}</p>
                            </div>
                            <div class="col-6 col-md-6 shopping">
                                <a class="view-product-on-list" href="#"><i class="fa fa-eye"></i></a>
                                <a class="addToCart" href="#"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>